#map{
    height: 100%; 
    width: 100%;
    border-radius: 8px;
}
.card {
    min-height: 50vh;
    border: 1px solid #ddd;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    width: calc(50% - 15px); /* Responsive width with 2 cards per row */
    padding: 0; /* Added padding for internal spacing */
    display: flex; /* Enables flexible layouts inside the card */
    justify-content: center; /* Centers the calendar horizontally */
    align-items: center; /* Centers the calendar vertically */
    padding: 10px;
}