
nav {
  position: fixed;
  width: 20%;
  background-color: var(--blue);
  height: 100vh;
  color: #fff;
  font-size: large;
  margin: none;
}

.top {
  position: top;
  height: 40%;
  border: none;
}

#logo {
  padding: 2vh;
  margin: 2vh 0 2vh 0;
}
#cmp_name{
  /* margin: 0 auto 0 auto; */
  text-align: center;
  font-size: 5rem;
  font-weight: bolder;
  font-style: italic;
}
li img{
  width: var(--icons-m);
}
.nav-list{
  list-style-type: none;
}
li{
  border: 2px solid #fff;
  margin: 5px 0 5px 0;
  border-left: none;
  border-right: none;
}
.nav-list img{
  width: 2.5vw;
  padding: 5px;
  margin-left: 5px;
}
.nav-list li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
.nav-list li:nth-child(3) img,
.nav-list li:nth-child(4) img{
  width: 2.3vw;
}

li:hover{
  background-color:  rgb(63, 148, 228);
}
.nav-list span{
  margin-left: 5px;
  font-size: 2rem;
  font-weight: bold;
}