.main-container {
  position: relative;
  width: 100%;
  /* border: 2px solid red; */
}
.accounts-icon {
  /* border: 2px solid red; */
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.accounts-icon img {
  width: 3vw;
  margin: 0 5px 0 0 ;
  cursor: pointer;
  background-color: #ddd;
  border: 2px solid black;
  padding: 2px;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.5s, border-radius 1s;
}
.accounts-icon img:hover{
  transform: scale(2);
  border-radius: 0;
}
.notification-bar {
  width: 100%;
  padding: 20px;
  background-color: var(--grey);
  border: 1px solid #ddd;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.notification-bar h1 {
  width: 100%;
  
}
#time,
#date {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  text-align: right;
  margin: 5px 0 5px 0;
  padding-right: 5px;
  font-family: "Iceberg", sans-serif;
  /* border: 2px solid red; Light grey border for some definition */
}
#date{
  font-size: 1.7rem;
}
.dynamic-content li{
  list-style: none;
  border: none;
  font-size: 2rem;
  margin: 5px;
}
.sub-headings{
  display: flex;
  flex-direction: row;
}
.dynamic-content{
  min-width: 70%;
}
.checkin{
  text-align: left;
}
.date-time{
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; Light grey border for some definition */
  text-align: right;
  min-width: 30%;
}
.body{
  width: 100%;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: start;
}
.card {
  min-height: 50vh;
  border: 1px solid #ddd;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  width: calc(50% - 15px); /* Responsive width with 2 cards per row */
  padding: 20px; /* Added padding for internal spacing */
  display: flex; /* Enables flexible layouts inside the card */
  justify-content: center; /* Centers the calendar horizontally */
  align-items: center; /* Centers the calendar vertically */
}
