.employees {
  .topic {
    display: flex;
    background-color: var(--blue);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    color: var(--font-p);
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
    margin-bottom: 10px;
  }
  .table {
    overflow-x: auto;
    margin-top: 30px;
    background-color: #fff;
    font-size: 1.7rem;
    padding: 0;
    margin-bottom:0;

    table {
      width: 100%;
      table-layout: auto;
      border-collapse: collapse;
      box-shadow: var(--shadom-lg);
      border: 1px solid var(--gray-200);
    }

    thead > tr {
      background-color: var(--gray-100);
    }

    thead > tr > th {
      padding: 0.875rem 1rem;
      text-align: left;
      color: var(--gray-700);
      font-weight: 600;
      font-size: 1.9rem;
    }

    tbody > tr {
      border-bottom: 1px solid var(--gray-200);
      transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    }

    tbody > tr:hover {
      background-color: var(--gray-50);
    }

    tbody > tr > td {
      padding: 0.875rem 1rem;
      color: var(--gray-700);
    }

    td.actions {
      display: flex;
      gap: 1rem;
    }

    td.actions > a {
      border: 1px solid var(--gray-200);
      padding: 4px 14px;
      transition: background-color 0.15s ease;
    }

    td.actions > a:hover {
      background-color: var(--gray-200);
    }
  }
  .approve,
  .reject {
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: green;
    font-weight: bold;
    border-radius: 4px;
    opacity: 0.7;
    padding:5px 0;
    text-decoration: none;
  }
  .reject {
    background-color: red;
  }
  .approve:hover,
  .reject:hover{
    opacity: 1;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;

    .card {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 10px;
      margin: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: left;
      width: calc(24% - 40px);
    }
    .img-container {
      height: 25vh;
      overflow: hidden;
      background-color: var(--hov-b);
    }
    img {
      max-width: 100%;
      height: auto;
      border-radius: 4px;
      margin-bottom: 15px;
    }
    h1 {
      font-size: 1.8rem;
      font-weight: bolder;
      margin: 5px;
    }
    .flex-content {
      display: flex;
      justify-content: space-between;
      font-weight: bolder;
      margin: 5px;
      align-items: center;
    }
    span {
      font-size: 1.7rem;
    }
    .on, .off, .default{
      width: 20px;
      height: 20px;
      border: 2px solid green;
      background-color: green;
      margin: auto;
    }
    .off{
      border: 2px solid red;
      background-color: red;
    }
    .default{
      border: 2px solid blue;
      background-color: blue;
    }
  }
  .list-pagination{
    background-color: #ffffff;
    margin: 5px 45px 5px 20px;
    border-radius: 8px;
  }
  .request-pagination{
    padding-top: 10px;
    background-color: #fff;
  }
}
